<h1>My Profile</h1>
<h2>Basic information</h2>
<ul>
  <li><strong>Name:</strong>Nunthapop Sangechot</li>
  <li><strong>Gender:</strong> Male</li>
  <li><strong>Age:</strong>18</li>
</ul>
<h2>Autobiography</h2>
<p>
  I am a driven and passionate individual with a strong curiosity for learning
  and a dedication to growth. My journey has been shaped by diverse experiences
  that have honed my skills and deepened my understanding of the world around
  me. Whether it’s tackling challenges in my professional career, exploring
  creative pursuits, or building meaningful connections, I approach every
  opportunity with enthusiasm and resilience. I value authenticity,
  adaptability, and the pursuit of excellence, which guide me in both my
  personal and professional endeavors. Through each step, I strive to make a
  positive impact and continue evolving into the best version of myself.
</p>
<h2>Github Pages</h2>
<nav>
  <a
    href="https://camt-mmit.github.io/2024-01-954447-001-lab04-basic-angular-Nunthapop/"
    >Lab02</a
  >
  <a
    href="https://camt-mmit.github.io/2024-01-954447-001-lab04-basic-angular-Nunthapop/"
    >Lab03</a
  >
  <a
    href="https://camt-mmit.github.io/2024-01-954447-001-lab04-basic-angular-Nunthapop/"
    >Lab04</a
  >
</nav>
